<!DOCTYPE html>
<html>

<head>
    <title>关于系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="../static/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a>实时日志入侵检测系统</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- 主菜单目录 -->
                        <li><a href="welcome"><i class="glyphicon glyphicon-asterisk"></i> 欢迎</a>
                        </li>
                        <li class="current"><a href="about"><i class="glyphicon glyphicon-info-sign"></i> 关于系统</a>
                        </li>
                         <li><a href="outline"><i class="glyphicon glyphicon-cog"></i> 日志管理</a>
                        </li>
                        <li><a href="analysis"><i class="glyphicon glyphicon-stats"></i> 实时日志分析</a>
                        </li>

                        <li><a href="id"><i class="glyphicon glyphicon-adjust"></i> 实时入侵检测</a>
                        </li>
                        <li><a href="index"><i class="glyphicon glyphicon-cog"></i> 系统设置</a>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box-header">
                            <div class="panel-title">系统介绍</div>

                        </div>
                        <div class="content-box-large box-with-header">
                            <h5>
                                <a>结合先进的大数据技术，在克服海量数据的采集、存储、索引和运算的瓶颈之上，摒弃繁琐的多控制台界面，充分挖掘各类安全警告，通过大数据关联分析，结合卷积神经网络，清洗大量的误报信息，结合云端威胁情报和企业内网威胁情报，将在大规模网络环境中能够引起安全态势变化的要素进行获取、理解、呈现和趋势预测</a>
                                </br>
                                <a>该系统通过收集网络当前的运行状态数据，能有效地实现对恶意日志的入侵判断与检测，帮助网络安全管理人员及时发现网络中存在的安全隐患，从而制定出高效可靠的网络安全策略</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

<!--        <footer>-->
<!--            <div class="container">-->

<!--                <div class="copy text-center">-->
<!--                    实时入侵检测系统 <br>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--    <script src="../static/js/custom.js"></script>-->
</body>
</html>