# Default values for grocery-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


replicaCount: 1
service:
  type: NodePort
  port: 80
  targetPort: 5000
#######################################################
flask:
  name: grocery-deployment-1
  port: 5000
container:
  name: grocery-api-container  
image: 
  repository: localhost:32000/grocery-app
  pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
  tag: "v1"

#flaskservice:
 # type: NodePort


########################################################
db:
 name: postgres-deployment-g43-1
dbcontainer:
 name: postgres-container-g43-1
dbimage:
  pullPolicy: IfNotPresent 
dbcontainerPort: 
  port: 5432
  
  
dbservice:
  port: 5432
  targetPort: 30002



#########################################################

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local








#########################################################

##############################################################
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
######################################################################


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000



resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
